/.phpunit.cache
/node_modules
/public/build
/public/css
/public/hot
/public/js
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.env.testing
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.zed
/tmp
_ide_helper*
